.settings-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-y: scroll;
    z-index: 999;
}

.settings-page .settings-left-bar {
    padding: 3rem;
    height: 100%;
    position: relative;
}

.settings-page .settings-left-bar .logo-container {
    width: 85px;
    height: 85px;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 10px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.settings-page .settings-left-bar .logo-container p {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #C94B32;
    transform: rotate(-45deg);
    cursor: pointer;
}

.settings-page .settings-left-bar img {
    position: absolute;
    top: 170px;
    left: 0;
}

.settings-page .settings-center {
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.settings-page .settings-center .settings-header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
}

.settings-page .settings-center .settings-header p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.settings-page .settings-center .settings-header p span {
    font-weight: bold;
}

.settings-page .settings-center .settings-organisation {
    width: 70%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 26px 22px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-organisation .organisation-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-organisation .organisation-name h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #B12F15;
}

.settings-page .settings-center .settings-organisation .organisation-desc {
    width: 100%;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-organisation .organisation-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1B2B41;
}

.settings-page .settings-center .settings-organisation .organisation-link {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.settings-page .settings-center .settings-organisation .organisation-link button {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.settings-page .settings-center .settings-organisation .organisation-link p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #76808D;
    margin-left: 10px;
}

.settings-page .settings-center .settings-organisation .organisation-policy {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-page .settings-center .settings-organisation .organisation-policy p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;
    margin-bottom: 10px;
}

.settings-page .settings-center .settings-organisation .organisation-policy div {
    width: 100%;
    display: flex;
    align-items: center;
}

.settings-page .settings-center .settings-organisation .organisation-policy div span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #76808D;
    margin-left: 10px;
}

.settings-page .settings-center .settings-links {
    width: 70%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 26px 22px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-links .links-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings-page .settings-center .settings-links .links-header div {
    display: flex;
    align-items: center;
}

.settings-page .settings-center .settings-links .links-header div .addLink-btn {
    margin-left: 22px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;
    text-transform: uppercase;

    /* RED */
    color: #C94B32;
}

.settings-page .settings-center .settings-links .links-header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
}

.settings-page .settings-center .settings-links span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-links .link-body {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.settings-page .settings-center .settings-links .link-body .editLinkSection {
    width: 420px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
}

.settings-page .settings-center .settings-links .link-body .editLinkSection .editLinkCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0 !important;
    height: 85px;
}

.settings-page .settings-center .settings-links .link-body .editLinkSection .editLinkCol span {
    margin-bottom: 0;
    margin-top: -13px !important;
    font-size: 13px;
    color: #C94B32;
}

.settings-page .settings-center .settings-links .link-body .editLinkSection .linkDeleteBtn {
    background-color: #76808D;
    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    height: 50px !important;
    margin-left: 15px;
}

.settings-page .settings-center .settings-links .link-body div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.settings-page .settings-center .settings-links .link-body div button {
    height: 40px;
    width: 150px;
    padding: 0 20px;
    filter: drop-shadow(0px 3px 3px rgba(27, 43, 65, 0.1)) drop-shadow(-1px -2px 3px rgba(201, 75, 50, 0.05));
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #B12F15;
    margin-right: 10px;
}

.settings-page .settings-center .settings-links .link-body div button span {
    color: #B12F15;
    margin: 0;
    margin-left: 5px;
    font-style: normal;
}

.settings-page .settings-center .settings-links .link-body div p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #76808D;
}

.settings-page .settings-center .settings-token {
    width: 70%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 26px 22px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.settings-page .settings-center .settings-token h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-token p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-token button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    filter: drop-shadow(0px 3px 3px rgba(27, 43, 65, 0.1)) drop-shadow(-1px -2px 3px rgba(201, 75, 50, 0.05));
    color: #FFF;
    background-color: #C94B32;
}

.settings-page .settings-center .settings-token .token-details {
    width: 100%;
    display: flex;
    align-items: center;
}

.settings-page .settings-center .settings-token .token-details button {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    filter: none;
    margin-right: 10px;
}

.settings-page .settings-center .settings-token .token-details p {
    margin: 0;
    margin-left: 10px;
}

.settings-page .settings-right-bar {
    padding: 40px 3rem;
    height: 100%;
    position: relative;
}

.settings-page .settings-right-bar button {
    width: 40px;
    height: 40px;
    background: rgba(27, 43, 65, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}