.settings-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-y: scroll;
    z-index: 999;


}

.settings-page .settings-left-bar {
    padding: 3rem;
    height: 100%;
    position: relative;
}

.settings-page .settings-left-bar .logo-container {

    position: absolute;
    width: 70.71px;
    height: 70.71px;
    left: 83px;
    top: 69px;

    /* GRADIENT-light */

    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    /* SMALL-inputs */

    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 10px;
    transform: rotate(45deg);
}

.settings-page .settings-left-bar .logo-container p {
    /* HG */


    position: absolute;
    width: 97px;
    height: 61px;
    top: 16px;

    font-family: var(--chakra-fonts-body);
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 25px;
    /* or 71% */

    text-align: center;
    transform: rotate(-45deg);
    letter-spacing: -0.011em;

    /* RED */

    color: #C94B32;



}

.settings-page .settings-left-bar img {
    position: absolute;
    top: 170px;
    left: 0;
}

.settings-page .settings-center {
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-left: 4rem;


}

.settings-page .settings-center .settings-header {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
}

.settings-page .settings-center .settings-header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: -100px;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-header h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: -100px;
    margin-bottom: 40px;
}

.settings-page .settings-center .settings-header p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.settings-page .settings-center .settings-header p span {
    font-weight: bold;
}

.settings-page .settings-center .settings-organisation {

    height: 130px;
    width: 947px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 26px 22px 30px;
    display: flex;
    flex-direction: column;
    color: #C94B32;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-organisation-child {

    height: 130px;
    width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    /* padding: 26px 22px 30px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #C94B32;
}

.settings-page .settings-organisation-flexbox {
    width: 947px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.style-content {

    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.settings-page .settings-center .settings-organisation .organisation-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-organisation .organisation-name h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #B12F15;
}

.settings-page .settings-center .settings-organisation .organisation-desc {
    width: 100%;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-organisation .organisation-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1B2B41;
}

.settings-page .settings-center .settings-organisation .organisation-link {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.settings-page .settings-center .settings-organisation .organisation-link button {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.settings-page .settings-center .settings-organisation .organisation-link p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #76808D;
    margin-left: 10px;
}

.settings-page .settings-center .settings-organisation .organisation-policy {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-page .settings-center .settings-organisation .organisation-policy p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;
    margin-bottom: 10px;
}

.settings-page .settings-center .settings-organisation .organisation-policy div {
    width: 100%;
    display: flex;
    align-items: center;
}

.settings-page .settings-center .settings-organisation .organisation-policy div span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #76808D;
    margin-left: 10px;
}

.settings-page .settings-center .settings-links {
    width: 70%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 26px 22px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-links .links-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings-page .settings-center .settings-links .links-header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
}

.settings-page .settings-center .settings-links span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-links .link-body {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.settings-page .settings-center .settings-links .link-body div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.settings-page .settings-center .settings-links .link-body div button {
    height: 40px;
    width: 145px;
    filter: drop-shadow(0px 3px 3px rgba(27, 43, 65, 0.1)) drop-shadow(-1px -2px 3px rgba(201, 75, 50, 0.05));
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #B12F15;
    margin-right: 10px;
}

.settings-page .settings-center .settings-links .link-body div p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #76808D;
}

.settings-page .settings-center .settings-token {
    width: 70%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 26px 22px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.settings-page .settings-center .settings-token h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-token p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 20px;
}

.settings-page .settings-center .settings-token button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    filter: drop-shadow(0px 3px 3px rgba(27, 43, 65, 0.1)) drop-shadow(-1px -2px 3px rgba(201, 75, 50, 0.05));
    color: #FFF;
    background-color: #C94B32;
}

.settings-page .settings-center .settings-token .token-details {
    width: 100%;
    display: flex;
    align-items: center;
}

.settings-page .settings-center .settings-token .token-details button {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    filter: none;
    margin-right: 10px;
}

.settings-page .settings-center .settings-token .token-details p {
    margin: 0;
    margin-left: 10px;
}

.settings-page .settings-right-bar {
    padding: 40px 3rem;
    height: 100%;
    position: relative;
}

.settings-page .settings-right-bar button {
    width: 40px;
    height: 40px;
    background: rgba(27, 43, 65, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


#title-type {
    margin-top: 6.9px;
    font-size: "22px";
    color: #C94B32;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.011em;
}

#text-type {
    font-family: var(--chakra-fonts-body);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 10px;
}

#notes-type {
    margin-top: 35px;
    font-family: var(--chakra-fonts-body);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 10px;
}

#text-type-od {
    margin-top: 35px;
    font-family: var(--chakra-fonts-body);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 10px;
}


#button-save {
    color: #FFFFFF;
    font-weight: 400;
    background: #C94B32;
    border-radius: 5px;


}

.button-section {

    margin-top: 35px;
    flex: none;
    order: 5;
    flex-grow: 0;
}

#rp-text {
    width: 400px;
    height: 80px;
    font-family: var(--chakra-fonts-body);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    text-align: center;

    /* Grey */

    color: #76808D;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#paragraph-type {
    font-family: var(--chakra-fonts-body);
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}



/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0F0F0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
}

.slider:before {
    position: absolute;
    /* content: "\00d7"; */
    content: "";
    color: #FFFFFF;
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: #76808D;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

input:checked+.slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    background-color: #C94B32;
    content: url(../../assets/images/drawer-icons/ico-hidden.svg);
}

input:checked+.slider.check:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    background-color: #C94B32;
    content: url(../../assets/images/drawer-icons/ico-check.svg);
}

/* SWITCH TITLES */
#switch-title {
    font-family: var(--chakra-fonts-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;
    margin-left: 9px;
}

/* SWITCH */

Table {
    width: "726px";
}

th {
    height: 70px;
    width: 149px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;


    /* Inside auto layout */

    /* flex: none;
    order: 1;
    flex-grow: 0; */
}

td {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    height: 60px;
    color: #76808D;
}


/* ! Main Compopent */
.MainComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 200px;
    gap: 35px;

    width: 529px;
    height: 1134px;
    /* overflow-y: scroll; */


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.MainComponent-rolesPermissions {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    position: absolute;
    width: 868px;
    left: 71px;
    top: 55px;
    overflow-y: scroll;
}

.test {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 726px;
    height: 197px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* PASS TOKEN SECTION */

.MainComponent #pass-token-title {
    margin-top: 6.9px;
    color: #C94B32;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.011em;
    font-size: 30px;
    line-height: 33px;
}

.MainComponent #pass-tokens-logo-container {
    /* position: absolute; */
    width: 39.63px;
    height: 39.63px;

    /* box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 10px; */
    /* transform: rotate(45deg); */

    /* border: 1px solid #76808D; */
    transform: matrix(0.71, -0.7, 0.71, 0.71, 0, 0);

}

.MainComponent .PassTokenContainer {
    position: absolute;
    width: 337.9px;
    height: 55.93px;
    left: 118.55px;
    top: 244px;
}

.MainComponent #pass-tokens-logo-container p {

    /* position: absolute; */
    width: 40px;
    height: 36px;

    font-family: var(--chakra-fonts-body);
    font-style: normal;

    text-align: center;
    transform: rotate(45deg);

    /* 
    left: 126.37px;
    top: 255.11px; */
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    /* or 165% */

    text-align: center;

    color: #76808D;
}

.MainComponent #button-create-more {
    /* WHITE */
    width: 168px;
    height: 40px;
    border-radius: 5px;
    background: #FFFFFF;
    /* Color-drop */
    color: #C94B32;
    font-weight: 400;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
}

.MainComponent #add-icon {
    width: 11px;
    margin-right: 7px;
}

.MainComponent #token-title {
    width: 126px;
    height: 25px;
    position: relative;
    /* left: 32.06%; */
    right: 46.03%;
    /* top: 31.72%; */
    /* bottom: 65.19%; */

    /* Corps Title */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height, or 114% */

    letter-spacing: -0.011em;

    /* Grey */

    color: #76808D;

}

.MainComponent #number-100 {
    /* x 100 */
    position: absolute;
    width: 40px;
    height: 18px;
    left: calc(50% - 40px/2);
    top: calc(50% - 18px/2);

    /* Litle-title */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.011em;

    color: rgba(27, 43, 65, 0.6);
}

/* create token */
.MainComponent #create-token-type {
    /* The organisation doesn’t have token yet */
    width: 300px;
    height: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* Note */

    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;
    letter-spacing: -0.011em;

    /* Grey */

    color: #76808D;


    /* Inside auto layout */

    /* flex: none;
    order: 2;
    flex-grow: 0; */
}

.MainComponent #button-configure-token {
    margin-top: 30px;
    width: 261px;
    height: 40px;
    background: #C94B32;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.MainComponent #create-more-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hr {
    margin-top: 35px;
    width: 208px;
    height: 0px;

    /* RED */

    border: 2px solid #C94B32;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.MainComponent #membership-policy-section {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 300px;
    height: 58px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;

}

.MainComponent #contact-details-section {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 300px;
    height: 367.53px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}


.MainComponent #contact-details-section #paragraph-type-1 {

    font-family: var(--chakra-fonts-body);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    color: rgba(118, 128, 141, 0.5);

}


.MainComponent #contact-details-section #paragraph-type {

    font-family: var(--chakra-fonts-body);
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    color: rgba(118, 128, 141, 0.5);

}