/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px !important;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0F0F0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
}

.slider:before {
    position: absolute;
    /* content: "\00d7"; */
    content: "";
    color: #FFFFFF;
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: #76808D;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

input:checked+.slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    background-color: #C94B32;
    content: url(../../assets/images/drawer-icons/ico-hidden.svg);
}

input:checked+.slider.check:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    background-color: #C94B32;
    content: url(../../assets/images/drawer-icons/ico-check.svg);
}

/* SWITCH TITLES */
#switch-title {
    font-family: var(--chakra-fonts-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;
    margin-left: 9px;
}

/* SWITCH */