.confirm-walkthrough{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 93px 23px;
    gap: 35px;
    background: #FFFFFF;
    border: none;
    overflow: hidden;
    padding: 40px;
    border-radius: 20px;
    border: none !important;
    width: 700px;
    height: 490px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 3%;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: '10%';
}

.tooltip-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 464px;
    padding: 30px;
}

.tooltip-left {
    background: #F0F0F0;
    border-radius: 10px 0px 0px 10px;
    width: 186px;
    height: 247px;
    align-self: center;
    padding: 20px;
}

.MuiTooltip-arrow {
    color: #FFF !important;
}

.tooltip {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    width: 650px;
    height: 247px;
    padding: 0;
    border-radius: 10px;
}