.confirm-walkthrough{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 93px 23px;
    gap: 35px;
    background: #FFFFFF;
    border: none;
    overflow: hidden;
    padding: 40px;
    border-radius: 20px;
    border: none !important
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 3%;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: '10%';
}

.walkThroughCard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
