.StartSafe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 20vh 0vh 10vh 0vh;
}
.centerText {
    font-size: 20px;
    font-weight: 400;
    color: #C94B32;
}
.buttonArea {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}
hr {
    width: 210px;
    height: 0px;
    border: 2px solid #C94B32;
    background-color: #C94B32;
    border-radius: 50px;
}
.centerCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    max-height: fit-content;
    width: 554.75px;
    padding: 20px;
    margin-top: 35px;
}
.chainDetails {
    width: 100%;
}
.drop {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    padding: 0px 15px 0px 15px;
    
}
.inputArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.findSafe {
    margin: 25px 0px 15px 0px
}
.safeinfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 35px;
}
.safedata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #f1f4f4;
    border-radius: 5px;
    max-height: fit-content;
    width: 500px;
    padding: 20px;
    margin-top: 2px;
}
.safeName {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #76808D;
}
.safeBalance {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #188C7C;
}
.tokenAssets {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.safeDivider hr {
    width: 30px;
    height: 0px;
    border: 1px solid #76808D;
    background-color: #76808D;
    border-radius: 50px;
    transform: rotate(90deg);
}
.balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img[alt="coin"] {
    margin-right: 1vh;
}
.asset {
    height: 5vh;
    width: 5vh;
    background-color: #F5F5F5;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #76808D;
    margin-left: 1vh;
}
.ownerCount {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: #76808D;
    margin-left: 1vh;
}
.safeOwners {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #f1f4f4;
    border-radius: 5px;
    max-height: fit-content;
    width: 500px;
    padding: 20px;
    margin-top: 2px;
}
.ownerList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.safeowner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.address {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #76808D;
    margin-left: 2vh;
}
.footerText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
    width: 480px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}