.StartSafe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 20vh 0vh 10vh 0vh;
}
.centerText {
    font-size: 20px;
    font-weight: 400;
    color: #C94B32;
}
.buttonArea {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}
hr {
    width: 210px;
    border: 2px solid #C94B32;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.centerCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    max-height: fit-content;
    width: 500px;
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.dropdown {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%) ;
    border-radius: 10px;
    width: 109px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    padding: 0px 15px 0px 15px;
    margin-top: 10px;
    margin-right: 25px;
}
.inputArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.findSafe {
    margin: 25px 0px 15px 0px
}
.continueButton {
    margin-top: 25px;
}

.addOwner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    max-height: fit-content;
    width: 500px;
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.ownerArea {
    width: 100%;
}
.owner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0vh 2vh 0vh;
}
.avatarName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}
.text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
}
.nameText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-left: 16px;
    text-align: center;
}
.addressText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
    text-align: center;
}
.cardButton {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thresholdText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
}
.selectionArea {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.thresholdCount {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
}
.footer {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
    width: 480px;
    text-align: center;
    margin-bottom: 9px;
}
.boldText {
    font-weight: 800;
}
.createButton {
    margin-top: 35px;
}