.allTasks-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FDF7F7 0%, #F3F2F2 100%);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.allTasks-container .home-btn {
    width: 100px;
    height: 100px;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    border-radius: 0px 0px 30px 0px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.allTasks-container .allTasks-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 150px;
    background-color: #FFF;
}

.allTasks-container .allTasks-header p {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    display: flex;
    align-items: center;

    /* Grey */
    color: #76808D;
    margin: 0;
}

.allTasks-container .allTasks-header button {
    transform: translateY(-10px);
    margin-right: 40px;
}

.allTasks-container .allTasks-tabHeader {
    width: 100%;
    height: 80px;
    padding: 0 75px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
}

.allTasks-container .allTasks-tabHeader .tasks-title {
    display: flex;
    align-items: center;
}

.allTasks-container .allTasks-tabHeader .tasks-title button {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
    opacity: 0.4;
}

.allTasks-container .allTasks-tabHeader .tasks-title button.active {
    opacity: 1;
}

.allTasks-container .allTasks-tabHeader .tasks-title .divider {
    width: 35px;
    border: 1px solid rgba(118, 128, 141, 0.5);
    transform: rotate(90deg);
    margin: 0 30px;
}

.allTasks-container .allTasks-tabHeader .tasks-title span {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
    opacity: 0.4;
}

.allTasks-container .allTasks-tabHeader .tasks-buttons {
    display: flex;
}

.allTasks-container .allTasks-tabHeader .tasks-buttons .archive-btn {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.allTasks-container .allTasks-body {
    width: 100vw;
    height: calc(100% - 180px);
    display: flex;
    overflow: auto;
    align-items: flex-start;
    padding: 1rem;
}

.allTasks-container .allTasks-body .allTasks-column {
    height: 100%;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    margin-right: 20px;
}

.allTasks-container .allTasks-body .allTasks-column .col-head {
    width: 100%;
    height: 25px;
    display: flex;
    margin-bottom: 17px;
}

.allTasks-container .allTasks-body .allTasks-column .col-head .head-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 25px;
    border-radius: 100px;
}

.allTasks-container .allTasks-body .allTasks-column .col-body {
    width: 100%;
    padding-top: 25px;
    height: calc(100% - 35px);
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(118, 128, 141, 0.25);
}

.allTasks-container .allTask-container {
    width: 100%;
    padding-top: 26px;
    /* padding: 10px; */
    /* margin-top: 16px; */
    display: flex;
    flex-wrap: wrap;
}