.DAOsuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    text-align: center;
}
.itemsGroup {
    margin-top: 6vh;
}
.congrats {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #76808D;
    margin: 133px 0px 13.5px 0px;
}

.groupenjoy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 300px;
}
.colors {
    height: 1vw;
    width: 2.5vw;
    background-color: aqua;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.logo {
    margin-left: 110px;
}
.redirectText {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #76808D;
    text-decoration: underline;
    cursor: pointer;
}
.header {
    font-family: 'Insignia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    padding-bottom: 13px;
    text-align: center;
    color: #C94B32;
}