.projectDetails-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FDF7F7 0%, #F3F2F2 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-y: scroll;
}

.projectDetails-container .projectDetails-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(27, 43, 65, 0.25);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 22px;
    gap: 20px;

    width: 573px;
    height: 312px;

    /* WHITE */
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal .close-btn {
    height: 40px;
    width: 40px;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28px;
    right: 30px;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    /* or 110% */
    text-align: center;

    /* RED */
    color: #C94B32;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    text-align: center;

    /* Grey */
    color: #76808D;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal p span {
    font-weight: 700;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal div {
    display: flex;
    align-items: center;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal div button {
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal div button:first-child {
    background: #FFFFFF;
    /* RED */
    border: 1px solid #C94B32;
    color: #C94B32;
    margin-right: 20px;
}

.projectDetails-container .projectDetails-overlay .projectDetails-modal div button:last-child {
    background: #C94B32;
    color: #FFF;
}

.projectDetails-container .home-btn {
    width: 100px;
    height: 100px;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    border-radius: 0px 0px 30px 0px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* edit member overlay */
.projectDetails-container .editMemberOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(27, 43, 65, 0.25);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.projectDetails-container .editMemberOverlay .editMemberContainer {
    width: 575px;
    height: 100%;
    background-color: #FFF;
    border-radius: 20px 0px 0px 20px;
    padding: 65px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-header {
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-header p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-header button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 3px;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-body .editMember-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-body .editMember-row div {
    display: flex;
    align-items: center;
    min-width: 33.33%;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-body .editMember-row div img {
    margin-right: 10px;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-body .editMember-row div p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #76808D;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-body .editMember-row span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #76808D;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-footer {
    width: 575px;
    height: 100px;
    position: fixed;
    bottom: 65px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-footer button:first-child {
    background: #FFFFFF;
    border: 1px solid #C94B32;
    color: #C94B32;
    width: 130px;
    margin-right: 20px;
}

.projectDetails-container .editMemberOverlay .editMemberContainer .editMember-footer button:last-child {
    background: #C94B32;
    color: #FFF;
    width: 210px;
}

/* Add new member overlay */
.projectDetails-container .addMemberOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(27, 43, 65, 0.25);
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Member list */

.projectDetails-container .addMemberOverlay .project-members {
    width: 480px;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    padding: 26px 22px;
    opacity: 1;
    max-height: 75vh;
    position: relative;
}

.projectDetails-container .addMemberOverlay .project-members .project-members-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.projectDetails-container .addMemberOverlay .project-members .project-members-header p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
}

.projectDetails-container .addMemberOverlay .project-members .project-members-header button {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    /* Color-drop */
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    text-transform: uppercase;
    color: #76808D;
}

.projectDetails-container .addMemberOverlay .project-members .member-list {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;
}

.projectDetails-container .addMemberOverlay .project-members .member-list .member-li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.projectDetails-container .addMemberOverlay .project-members .member-list .member-li:last-child {
    margin-bottom: 0;
}

.projectDetails-container .addMemberOverlay .project-members .member-list .member-li .member-img-name {
    width: 40%;
    display: flex;
    align-items: center;
}

.projectDetails-container .addMemberOverlay .project-members .member-list .member-li .member-img-name img {
    margin-right: 15px;
}

.projectDetails-container .addMemberOverlay .project-members .member-list .member-li .member-img-name p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
}


.projectDetails-container .addMemberOverlay .project-members .member-list .member-li .member-address {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectDetails-container .addMemberOverlay .project-members .member-list .member-li .member-address p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
}

.projectDetails-container .addMemberOverlay .project-members .project-buttons {
    display: flex;
    margin-top: 20px;
}

.projectDetails-container .addMemberOverlay .project-members .project-buttons button {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
}

.projectDetails-container .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectDetails-container .info .projectDetails-top {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 20px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-name {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.projectDetails-container .info .projectDetails-top .projectDetails-name .left {
    height: 100%;
    width: 5% !important;
    background: #FFF;
    border-radius: 5px;
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.projectDetails-container .info .projectDetails-top .projectDetails-name .right {
    height: 100%;
    width: 95% !important;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-name .right div:first-child {
    width: 70%;
}

.projectDetails-container .info .projectDetails-top .projectDetails-name .right div:first-child h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #76808D;
}

.projectDetails-container .info .projectDetails-top .projectDetails-name div {
    display: flex;
    align-items: center;
}

.projectDetails-container .info .projectDetails-top .projectDetails-name div button {
    margin-left: 22px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-chatlinks {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 0.2rem;
    padding: 0 25px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-chatlinks .other-btn {
    background: #FFFFFF;
    height: 40px;
    padding: 0 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 5px 4px rgba(27, 43, 65, 0.05)) drop-shadow(-3px -3px 8px rgba(201, 75, 50, 0.1));
    margin-right: 25px;
    color: #B12F15;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .projectDetails-description {
    width: 100%;
    padding: 17px 20px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 20px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .projectDetails-description .tinyMCE-textBody {
    background-color: #B12F15 !important;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .projectDetails-description h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #76808D;
    margin-bottom: 7px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .projectDetails-description .save-btn {
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(201, 75, 50);
    background-color: rgb(255, 255, 255);
    opacity: 1;
    margin-left: 1rem !important;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-header {
    /* height: 100%; */
    width: 100% !important;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 22px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-header div {
    display: flex;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-header div h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height, or 114% */
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
    margin-bottom: 7px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-header div button:last-child {
    margin-left: 22px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    color: #C94B32;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-body {
    margin-top: 0.2rem;
    width: 100% !important;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 17px 22px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-body .link-unlocked-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-body .link-unlocked-section .locked {
    width: 100%;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    border-radius: 5px;
    padding: 26px 22px;
    margin-bottom: 20px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-body .link-unlocked-section .locked .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-body .link-unlocked-section .link-button {
    padding: 10px 13px;
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #FFF;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    filter: drop-shadow(3px 5px 4px rgba(27, 43, 65, 0.05)) drop-shadow(-3px -3px 8px rgba(201, 75, 50, 0.1));
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .left .links-section .links-body .link-unlocked-section .link-button p {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;
    text-transform: uppercase;
    color: #B12F15;
    margin-left: 7px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra {
    width: 100% !important;
    height: 70px;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 17px 22px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra div h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height, or 114% */
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
    cursor: pointer;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra .divider {
    width: 35px;
    border: 1px solid rgba(118, 128, 141, 0.5);
    transform: rotate(90deg);
    margin: 0 30px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status {
    width: 100% !important;
    height: 70px;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 22px;
    margin: 0.2rem 0;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status .status {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status .status .percent-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: -0.011em;

    /* GREEN */
    color: #188C7C;
    margin-left: 18px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status .status span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #76808D;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status .status .indexedStep {
    color: white;
    width: 15px;
    height: 15px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status .status .indexedStep.accomplished {
    background-color: #188C7C;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status .status .archive-btn {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 20px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-status .status .review-btn {
    background: #C94B32;
    border-radius: 5px;
    height: 38px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body {
    width: 100% !important;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 17px 22px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(118, 128, 141, 0.05);
    /* SMALL-inputs */
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 15px;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card.done {
    background: rgba(24, 140, 124, 0.1);
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card div {
    display: flex;
    align-items: center;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card div span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height, or 107% */
    letter-spacing: -0.011em;

    /* RED */
    color: #C94B32;
    margin-right: 0.5rem;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card.done div span {
    color: #188C7C;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card div h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height, or 107% */
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card div .check-circle {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 1px solid rgba(118, 128, 141, 0.5);
    color: rgba(118, 128, 141, 0.5);
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.projectDetails-container .info .projectDetails-top .projectDetails-imp .right .milestone-kra-body .milestone-card.done div .check-circle {
    background-color: #188C7C;
    color: #FFF;
}




















.projectDetails-container .info .projectDetails-top .projectDetails-description p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1B2B41;
}

.projectDetails-container .info .projectDetails-body {
    width: 80%;
    display: flex;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members {
    width: 100%;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header {
    width: 100%;
    padding: 20px 22px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height, or 114% */
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
    margin-bottom: 7px;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header .divider {
    width: 35px;
    border: 1px solid rgba(118, 128, 141, 0.5);
    transform: rotate(90deg);
    margin: 0 30px;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header .member-count {
    display: flex;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header .member-count p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    color: rgba(27, 43, 65, 0.6);
    margin-left: 15px;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header div {
    display: flex;
    align-items: center;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header div button:last-child {
    margin-left: 22px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-header div button:last-child {
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;
    text-transform: uppercase;

    /* RED */
    color: #C94B32;
}


.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list {
    width: 100%;
    padding: 20px 22px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-head div {
    width: 48%;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-head div p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.011em;

    /* Light3 */
    color: rgba(118, 128, 141, 0.5);
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row .members-row-name {
    width: 48%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(118, 128, 141, 0.5);
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row .members-row-name div {
    width: 50%;
    display: flex;
    align-items: center;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row .members-row-name div img {
    margin-right: 20px;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row .members-row-date {
    width: 24%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(118, 128, 141, 0.5);
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row .members-row-date p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #76808D;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row .members-row-status {
    width: 24%;
    display: flex;
    align-items: center;
}

.projectDetails-container .info .projectDetails-body .projectDetails-left .projectDetails-members .members-list .members-list-body .members-row .members-row-status span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #76808D;
    text-transform: lowercase;
}