.StartSafe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.centerText {
    font-size: 20px;
    font-weight: 400;
    color: #C94B32;
}
.buttonArea {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}
.link {
    text-decoration: underline;
    color: #76808D;
}