.taskDetails-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FDF7F7 0%, #F3F2F2 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-y: scroll;
}

.taskDetails-container .taskDetails-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(27, 43, 65, 0.25);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 22px;
    gap: 20px;

    width: 573px;
    height: 312px;

    /* WHITE */
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal .close-btn {
    height: 40px;
    width: 40px;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28px;
    right: 30px;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    /* or 110% */
    text-align: center;

    /* RED */
    color: #C94B32;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    text-align: center;

    /* Grey */
    color: #76808D;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal p span {
    font-weight: 700;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal div {
    display: flex;
    align-items: center;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal div button {
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal div button:first-child {
    background: #FFFFFF;
    /* RED */
    border: 1px solid #C94B32;
    color: #C94B32;
    margin-right: 20px;
}

.taskDetails-container .taskDetails-overlay .taskDetails-modal div button:last-child {
    background: #C94B32;
    color: #FFF;
}






.taskDetails-container .home-btn {
    width: 100px;
    height: 100px;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    border-radius: 0px 0px 30px 0px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.taskDetails-container .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 150px;
}

.taskDetails-container .info .taskDetails-top {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 20px;
}

.taskDetails-container .info .taskDetails-top h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    display: flex;
    align-items: center;

    /* Grey */
    color: #76808D;
    margin-bottom: 10px;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name {
    width: 100%;
    height: 75px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .left {
    height: 100%;
    width: 5%;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .right {

    height: 100%;
    width: 95%;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .right h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height, or 114% */
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
    margin: 0;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .right .menu {
    display: flex;
    align-items: center;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .right .menu div {
    display: flex;
    margin-right: 25px;
    align-items: center;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .right .menu div span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .right .menu .applicants-btn {
    background: #C94B32;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin: 0 25px;
}

/* .taskDetails-container .info .taskDetails-top .taskDetails-header .header-name .right .menu .kebab-btn {
    background-color: red;
} */

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 0.2rem;
    padding: 0 25px;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others .other-btn {
    background: #FFFFFF;
    height: 40px;
    padding: 0 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 5px 4px rgba(27, 43, 65, 0.05)) drop-shadow(-3px -3px 8px rgba(201, 75, 50, 0.1));
    margin-right: 25px;
    color: #B12F15;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others .other-btn img {
    margin-right: 5px;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others div {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others div:last-child {
    margin: 0;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others div span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others div span:last-child {
    font-weight: 700;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others div img {
    margin-left: 15px;
    margin-right: 7px;
}

.taskDetails-container .info .taskDetails-top .taskDetails-header .header-others .v-line {
    height: 35px;
    width: 1px;
    background-color: #c5c5c5;
}

.taskDetails-container .info .taskDetails-body {
    width: 70%;
    display: flex;
    height: 420px;
}

.taskDetails-container .info .taskDetails-body .body-left {
    height: 100%;
    width: 40%;
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
    padding: 30px 0;
}

.taskDetails-container .info .taskDetails-body .body-left h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    color: #76808D;
    margin-bottom: 10px;
    padding: 0 28px;
}

.taskDetails-container .info .taskDetails-body .body-left div {
    padding: 0 28px;
    height: 100%;
    overflow-y: auto;
}

.taskDetails-container .info .taskDetails-body .body-left div span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    /* DARK */
    color: #1B2B41;
}

.taskDetails-container .info .taskDetails-body .body-right {
    height: 100%;
    width: 60%;
    padding: 0 1rem;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.taskDetails-container .info .taskDetails-body .body-right div {
    display: flex;
    align-items: center;
}

.taskDetails-container .info .taskDetails-body .body-right div img {
    margin-right: 10px;
}

.taskDetails-container .info .taskDetails-body .body-right div span {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */

    /* WHITE */
    color: #FFFFFF;
}

.taskDetails-container .info .taskDetails-body .body-right h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    display: flex;
    align-items: center;
    text-align: center;

    /* WHITE */
    color: #FFFFFF;
    margin: 5px 0;
}

.taskDetails-container .info .taskDetails-body .body-right p {
    text-align: center;
}

.taskDetails-container .info .taskDetails-body .body-right button {
    min-width: 130px;
    height: 40px;
    background: #FFFFFF;
    /* Color-drop */
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    color: #C94B32;
    margin-top: 5px;
}


.taskDetails-container .info .task-reviewer {
    width: 70%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskDetails-container .info .task-reviewer div {
    display: flex;
    align-items: center;
}

.taskDetails-container .info .task-reviewer div span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.011em;

    /* Light3 */
    color: rgba(118, 128, 141, 0.5);
}

.taskDetails-container .info .task-reviewer div p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height, or 107% */
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
}

.taskDetails-container .info .task-reviewer div img {
    margin: 0 10px 0 15px;
}

/* apply task form */

.taskDetails-container .taskApply-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(27, 43, 65, 0.25);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.taskDetails-container .taskApply-overlay .taskApply-container {
    width: 575px;
    height: 100%;
    background-color: #FFF;
    border-radius: 20px 0px 0px 20px;
    padding: 45px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-header button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 3px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-header span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
}


.taskDetails-container .taskApply-overlay .taskApply-container .createTask-success {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.taskDetails-container .taskApply-overlay .taskApply-container .createTask-success h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    /* or 110% */
    text-align: center;

    /* RED */
    color: #C94B32;
    margin-top: 20px;
    margin-bottom: 30px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .createTask-success span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    text-align: center;
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 0 27px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    /* or 110% */
    text-align: center;
    color: #C94B32;
    margin-top: 20px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .taskApply-rowInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .taskApply-rowInput label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    text-align: center;
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .taskApply-rowInput textarea {
    width: 350px !important;
    height: 130px;
    resize: none;
    padding: 15px;
    margin-top: 10px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .taskApply-rowInput button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(27, 43, 65, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list {
    background: rgba(118, 128, 141, 0.05);
    /* SMALL-inputs */
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 5px;
    padding: 26px 22px;
    width: 100%;
}


.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li {
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li:last-child {
    margin-bottom: 0;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li .member-img-name {
    width: 40%;
    display: flex;
    align-items: center;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li .member-img-name img {
    margin-right: 15px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li .member-img-name span {
    margin-right: 15px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li .member-img-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li .member-address {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li .member-address p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #76808D;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li .member-address button {
    display: none;
    color: #a1a1a1;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .transparent-list .member-li:hover .member-address button {
    display: block;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .taskApply-sendBtn {
    background: #C94B32;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-top: 45px;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .submitLink-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    /* Color-drop */
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    width: 215px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    text-transform: uppercase;

    /* Grey */
    color: #76808D;
}

.taskDetails-container .taskApply-overlay .taskApply-container .taskApply-body .submitLink-btn img {
    margin-right: 12px;
}