.headerGroup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sendToken {
  display: flex;
  flex-direction: column;

}
.ItemHeader {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
  letter-spacing: -0.011em;
  color: #76808D;
}
.Itemdesc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 10px;
  letter-spacing: -0.011em;
  color: #76808D;
}
.dashboardInputField {
  width: 500px;
  padding: 25px 0px 25px 10px;
  text-align: justify;
  background: #f5f5f5;
  box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
  border-radius: 10px;
  border-width: 0px;
  margin: 0px 0px 10px 0px;

}
.treasurySideComponent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 250px;
  background-color: #FFFFFF;
  box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 120px;
}
.treasurySideComponent .ItemHeader {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.0;
  padding-top: 30px;
  padding-bottom: 10px;
  letter-spacing: -0.011em;
  color: #76808D;
  width: 100px;
  text-align: center;
}
.euro {
  height: 25px;
  width: 25px;
}