.headerText {
    font-family: 'Insignia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: #C94B32;
}
.inputField {
    width: 500px;
    height: 90px;
    text-align: justify;
    padding-left: 10px;
    background: #f5f5f5;
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;
  }

.inputFieldTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin: 15px 0px 15px 0px;
}

.button {
    padding: 0px 10px 0px 10px;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    border-width: 0px;
    border-color: #FFFFFF;
    display: felx;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.safeButton {
    padding: 0px 10px 0px 10px;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    border-width: 0px;
    border-color: #FFFFFF;
    align-content: inherit;
}