.headerText {
    font-family: 'Insignia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: #C94B32;
}

.inputField {
    width: 500px;
    height: 90px;
    text-align: justify;
    padding-left: 10px;
    background: #f5f5f5;
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #76808D;
}

.inputFieldTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    margin: 15px 0px 15px 0px;
}

.button {
    padding: 0px 10px 0px 10px;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    border-width: 0px;
    border-color: #FFFFFF;
    display: felx;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.safeButton {
    padding: 0px 10px 0px 10px;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    border-width: 0px;
    border-color: #FFFFFF;
    align-content: inherit;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resource-footer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
}

.resource-footer input {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.resource-footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    text-transform: uppercase;
    color: #76808D;
}

.resource-footer span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: rgba(118, 128, 141, 0.5);
}