.connectButton {
    display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aqua;
  border-radius: 16px;
  white-space: nowrap;
  width: 100%;
  height: 40px;
}
.connectButton:focus {
    border: 1px solid blue;
  }