.kraOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(27, 43, 65, 0.25);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.kraOverlay .kraContainer {
    height: 100vh;
    width: 575px;
    background-color: #FFF;
    border-radius: 20px 0px 0px 20px;
    padding: 36px 27px;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.kraOverlay .kraContainer .kra-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.kraOverlay .kraContainer .kra-header button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 3px;
}

.kraOverlay .kraContainer .createTask-success {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kraOverlay .kraContainer .createTask-success h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    /* or 110% */
    text-align: center;

    /* RED */
    color: #C94B32;
    margin-top: 20px;
    margin-bottom: 30px;
}

.kraOverlay .kraContainer .createTask-success span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    text-align: center;
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
}

.kraOverlay .kraContainer .kra-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 27px;
}

.kraOverlay .kraContainer .kra-body .kra-section {
    width: 85%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.kraOverlay .kraContainer .kra-body .kra-section .review-card {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    /* Color-drop */
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.kraOverlay .kraContainer .kra-body .kra-section .review-card h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
}

.kraOverlay .kraContainer .kra-body .kra-section .review-card .review-slider-section {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-slider {
    width: 200px;
    /* margin: 0 auto; */
    position: relative;
    display: flex;
}

.range-slider .slider-rc {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    outline: none;
    border-radius: 10px;
    background: rgb(230, 124, 64);
    background: linear-gradient(90deg, rgba(230, 124, 64, 1) 0%, rgba(233, 154, 55, 1) 10%, rgba(235, 175, 48, 1) 20%, rgba(237, 205, 39, 1) 30%, rgba(190, 205, 51, 1) 40%, rgba(142, 204, 62, 1) 50%, rgba(99, 195, 89, 1) 60%, rgba(79, 191, 101, 1) 70%, rgba(42, 184, 124, 1) 80%, rgba(33, 162, 132, 1) 90%, rgba(24, 140, 140, 1) 100%);
}

.range-slider .slider-rc::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.range-slider .slider-thumb {
    position: absolute;
    width: 60px;
    height: 40px;
    background: #D4D029;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range-slider .slider-thumb .thumb-bar {
    height: 17px;
    width: 2px;
    background-color: #1B2B4133;
    position: relative;
}

.range-slider .slider-thumb .thumb-bar::before {
    content: '';
    height: 17px;
    width: 2px;
    background-color: #1B2B4133;
    position: absolute;
    top: 0;
    left: -10px;
    /* margin: 10px; */
}

.range-slider .slider-thumb .thumb-bar::after {
    content: '';
    height: 17px;
    width: 2px;
    background-color: #1B2B4133;
    position: absolute;
    top: 0;
    right: -10px;
    /* margin: 10px; */
}

.range-slider .progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background: #f5f5f5;
    /* background: rgb(230, 124, 64);
    background: linear-gradient(90deg, rgba(230, 124, 64, 1) 0%, rgba(237, 205, 39, 1) 25%, rgba(142, 204, 62, 1) 50%, rgba(42, 184, 124, 1) 75%, rgba(24, 140, 140, 1) 100%); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    pointer-events: none;
}

.kraOverlay .kraContainer .kra-body img {
    margin-bottom: 18px;
}

.kraOverlay .kraContainer .kra-body h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #C94B32;
    margin-bottom: 8px;
}

.kraOverlay .kraContainer .kra-body span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    text-align: center;
    letter-spacing: -0.011em;

    /* Grey */
    color: #76808D;
    margin-bottom: 30px;
}

.kraOverlay .kraContainer .kra-body .hr-line {
    width: 208px;
    height: 0px;
    border: 1.5px solid #C94B32;
    margin: 35px 0;
}

.kraOverlay .kraContainer .kra-body .kra-card {
    width: 400px;
    padding: 20px 22.5px;
    background: #FFFFFF;
    /* Color-drop-fade */
    box-shadow: 0px 3px 3px rgba(27, 43, 65, 0.1), -1px -2px 3px rgba(201, 75, 50, 0.05);
    border-radius: 5px;
    margin-bottom: 30px;
}

.kraOverlay .kraContainer .kra-body .kra-card h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */
    letter-spacing: -0.011em;

    /* Dark-red */
    color: #B12F15;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow {
    width: 100%;
    height: 100px;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .error-msg {
    margin-bottom: 0;
    font-size: 13px;
    color: #C94B32;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow.row-align {
    display: flex;
    align-items: center;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #76808D;
    margin-bottom: 10px;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    letter-spacing: -0.011em;

    /* Light3 */
    color: rgba(118, 128, 141, 0.5);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow textarea {
    resize: none;
    padding: 10px;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .createTask-optionalDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .createTask-optionalDiv .option-div {
    width: 110px;
    height: 25px;
    background: rgba(118, 128, 141, 0.05);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    /* Light3 */
    color: rgba(118, 128, 141, 0.5);
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .kra-inputRow-half {
    width: 48%;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .createTask-compensation {
    width: 100%;
    display: flex;
    align-items: center;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .createTask-buttonRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .createTask-buttonRow button {
    height: 50px;
    width: 48%;
    background: #FFFFFF;
    border-radius: 5px;
    color: rgba(201, 75, 50, 0.5);
    /* Color-drop-HOVER */
    box-shadow: 1px 2px 5px rgba(27, 43, 65, 0.12), 0px 0px 5px rgba(201, 75, 50, 0.18);
}

.kraOverlay .kraContainer .kra-body .kra-inputRow .createTask-buttonRow button.active {
    /* Color-drop-HOVER */
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
    color: rgba(201, 75, 50, 1);
}

.kraOverlay .kraContainer .kra-body .contributor-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.kraOverlay .kraContainer .kra-body .contributor-section .contributor-check {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}

.kraOverlay .kraContainer .kra-body .contributor-section .contributor-check div {
    width: 100%;
    margin-left: 15px;
}

.kraOverlay .kraContainer .kra-body .contributor-section .contributor-check div h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    color: #76808D;
}

.kraOverlay .kraContainer .kra-body .contributor-section .contributor-check div span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: rgba(118, 128, 141, 0.5);
}

.kraOverlay .kraContainer .kra-body .selected-roles {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background: rgba(118, 128, 141, 0.05);
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.kraOverlay .kraContainer .kra-body .selected-roles .roles-right button {
    height: 40px;
    width: 40px;
    background: #FFFFFF;
    /* Color-drop */
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kraOverlay .kraContainer .kra-body .selected-roles .roles-left .roles-li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.kraOverlay .kraContainer .kra-body .selected-roles .roles-left .roles-li:last-child {
    margin: 0;
}

.kraOverlay .kraContainer .kra-body .selected-roles .roles-left .roles-li .roles-pill {
    width: 200px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 3.75px;
}

.kraOverlay .kraContainer .kra-body .selected-roles .roles-left .roles-li .roles-pill .roles-circle {
    height: 22.5px;
    width: 22.5px;
    border-radius: 50%;
    margin-right: 8.25px;
}

.kraOverlay .kraContainer .kra-body .selected-roles .roles-left .roles-li .roles-pill span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    /* Grey */
    color: #76808D;
}

.kraOverlay .kraContainer .kra-body .selected-roles .roles-left .roles-li .roles-close {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(27, 43, 65, 0.2);
    margin-left: 18px;
    cursor: pointer;
}

.kraOverlay .kraContainer .kra-footer {
    width: 100%;
    padding: 0 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kraOverlay .kraContainer .kra-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
}

.kraOverlay .kraContainer .kra-footer button:first-child {
    background: #FFFFFF;
    border: 1px solid #C94B32;
    color: #C94B32;
    width: 169px;
    margin-right: 20px;
}

.kraOverlay .kraContainer .kra-footer button:last-child {
    background: #C94B32;
    color: #FFF;
    width: 180px;
}