.myproject-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.myproject-container .myproject-header {
    width: 100%;
    padding: 20px 22px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.myproject-container .myproject-header .myproject-title {
    display: flex;
    align-items: center;
}

.myproject-container .myproject-header .myproject-title button {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
    opacity: 0.4;
}

.myproject-container .myproject-header .myproject-title button.active {
    opacity: 1;
}

.myproject-container .myproject-header .myproject-title .divider {
    width: 35px;
    border: 1px solid rgba(118, 128, 141, 0.5);
    transform: rotate(90deg);
    margin: 0 30px;
}

.myproject-container .myproject-header .myproject-title span {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
    opacity: 0.4;
}

.myproject-container .myproject-header .myproject-buttons {
    display: flex;
    align-items: center;
}

.myproject-container .myproject-header .myproject-buttons .archive-btn {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.myproject-container .myproject-body {
    width: 100%;
    height: 160px;
    padding: 0 22px;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.myproject-container .myproject-body::-webkit-scrollbar {
    display: none;
}

.myproject-container .myproject-body-fixed {
    width: 100%;
    padding: 26px 22px 0 22px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    min-height: 150px;
    /* align-items: center; */
    flex-wrap: wrap;
    position: relative;
}

.myproject-container .myproject-body-fixed .create-new-project {
    width: 320px;
    height: 120px;
    background: #FFFFFF;
    border: 1px dashed rgba(118, 128, 141, 0.5);
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 26px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myproject-container .myproject-body-fixed .create-new-project span{
    color: rgba(118, 128, 141, 0.5);
    margin-right: 10px;
}

.myproject-container .myproject-body-fixed .all-project {
    width: 320px;
    height: 120px;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-bottom: 26px;
    position: relative;
    cursor: pointer;
}

.myproject-container .myproject-body-fixed .all-project span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #B12F15;
}

.myproject-container .myproject-body-nocontent {
    width: 100%;
    padding: 26px 22px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myproject-card {
    width: 320px;
    height: 120px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

.myproject-container .myproject-body-fixed .myproject-card {
    margin-bottom: 25px;
}

.myproject-card .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myproject-card .container .milestone-progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myproject-card .container .milestone-progress span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #76808D;
    margin: 0;
}

.myproject-card .container .milestone-progress div .indexedStep {
    color: white;
    width: 11px;
    height: 11px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myproject-card .container .milestone-progress div .indexedStep.accomplished {
    background-color: #76808D;
}

.myproject-card .container .project-name {
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myproject-card .container .project-name p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #B12F15;

}

.myproject-card .myproject-card-icons {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    position: absolute;
    top: -20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.myproject-card .myproject-card-icons .icon-container {
    height: 40px;
    width: 30%;
    padding: 0 10px;
    background: #B12F15;
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.myproject-card .myproject-card-icons .icon-container:first-child {
    margin-left: 0;
}

.myproject-card .myproject-card-icons .icon-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 5px;
}