body.active-modal {
    overflow-y: hidden;
}

.dashBoardBody {
    margin-left: 10%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    max-height: fit-content;
}

.DAOdetails {
    width: calc(100% - 220px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 35px 0px;
}

.DAOname {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #B12F15;
    margin-right: 20px;
}

.DAOdetails .DAOsettings {
    display: flex;
    align-items: center;
}

.DAOdetails .DAOsettings div {
    /* width: 170px; */
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.DAOdetails .DAOsettings div p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #76808D;
}

.DAOdetails .DAOsettings div span {
    font-weight: bold;
}

.DAOdetails .DAOsettings button {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    filter: drop-shadow(3px 5px 4px rgba(27, 43, 65, 0.05)) drop-shadow(-3px -3px 8px rgba(201, 75, 50, 0.1));
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.notificationsArea {
    width: 100%;
    height: 158.8px;
    background: rgba(118, 128, 141, 0.05);
    border-radius: 40px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 26px 22px;
}

.notification {
    height: 106.35px;
    width: 315.72px;
    background: #FFFFFF;
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
    border-radius: 20px;
    padding: 26px 22px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#notificationHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#notificationTextButtonGrp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#notificationMainText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #B12F15;
}

.treasuryCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    margin-top: 20px;
}

.treasuryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 22px 15px;
    gap: 10px;
    width: 100%;
    height: 81px;
    background: #FFFFFF;
    border-radius: 5px;
}

.titleHeader {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
}

#treasuryCardTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.011em;
    color: #76808D;
}

#treasuryCardTitle:hover {
    cursor: pointer;
}

.headerDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.vl {
    width: 30px;
    height: 0px;
    border: 1px solid #76808D;
    background-color: #76808D;
    border-radius: 50px;
    transform: rotate(90deg);
}

.copyArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.copyLinkButton {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 10px;
    height: 37px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.safeCopyImage:hover {
    height: 25;
    width: 25;
    cursor: pointer;
}

.dashboardText {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #76808D;
}

.roleText {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #76808D;
}

.dashboardTextBold {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #76808D;
}

#safeBalance {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #188C7C;
}

#treasuryTransactions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 26px 22px;
    width: 100%;
    /* gap: 18px; */
    min-height: fit-content;
    max-height: 344px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 2px;
    overflow-y: scroll;
}

.iconButtons {
    border-radius: 5px;
    border-width: 0px;
    border-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.transactionRow {
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50px;
    overflow-y: visible;
    padding: 6px 0;
    /* margin-bottom: 10px; */
}

.transactionRow.rejected {
    background-color: #A5453610;
}

.confirmIconGrp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    min-width: 10%;
    height: 100%;
    overflow-y: visible;
}

.confirmIconGrp .ex {
    height: calc(100% + 12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.confirmIconGrp .ex .line {
    width: 1px;
    height: 15px;
    background-color: gray;
    position: absolute;
    right: 20px;
    bottom: 0;
}

.transactionName {
    flex-grow: 1;
    min-width: 30%;
}

.transactionAddress {
    min-width: 10%;
}

.memberCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 54%;
    height: fit-content;
    margin-bottom: 20px;
    margin-top: 20px;
}

.memberHeaderDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.membersList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 26px 22px;
    width: 100%;
    gap: 35px;
    min-height: fit-content;
    max-height: 260px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 2px;
    overflow-y: auto;
}

.NameAndAvatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 65%;
    gap: 10px;
}

.memberRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.avatarAndName,
#recipientAvatarAndName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 45%;

}

.avatarAndName {
    gap: 10px;
}

.avatarAndName input {
    background: #f5f5f5;
    box-shadow: inset 1px 0px 4px rgb(27 43 65 / 10%);
    padding: 0 5px;
    width: 100%;
    border-radius: 5px;
    color: #76808D;
    height: 30px;
    border: 1px solid;
    border-color: inherit;
}

.Joined {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.memberdivider hr {
    width: 19px;
    height: 0px;
    border: 1px solid #76808D;
    background-color: #76808D;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-left: 20px;
    margin-right: 20px;
}

.memberheaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.coinText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    gap: 30px;
}

.sidebarModal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: #1B2B41;
    opacity: 0.2;
}

.sidebarModal {
    z-index: 10000;
}

.SideModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 43px 23px;
    gap: 35px;
    background: #FFFFFF;
    ;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    height: 100vh;
    width: 40vw;
    right: 0;
    top: 0;
}

.closeButtonArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 36px;
    right: 28px;
}

.sideModalCloseButton {
    border-radius: 5px;
    border-width: 0px;
    border-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

#doubleEuro {
    width: 79.16px;
    height: 60px;
}

#recipientDoubleEuro {
    margin-top: 0vh;
}

.transactionDetails,
#transactionDetails {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 33px;
    text-align: center;
    color: #C94B32;
}

#transactionDetails {
    margin-top: 0px;
}

.currencySelectionArea {
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tokenDropdown {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 10px;
    width: 13vw;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #76808D;
    padding: 0px 15px 0px 15px;
    margin-top: 10px;
    margin-right: 25px;
}

#SelectRecipientsHeader,
#recipientButtonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    margin-bottom: 15px;
}

#recipientButtonArea {
    position: sticky;
    bottom: 52px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.7px);
}

.selectRecipient,
#assignAmount {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.selectRecipient {
    width: 75%;
    justify-content: space-between;
    margin: 0vh 0vh 0vh 0vh;
}

#assignAmount {
    width: 100%;
    justify-content: flex-start;
    margin: 0vh 0vh 0vh 0vh;

}

#amountInputFields {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#addMember {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/* sidebar css style */
.navBarInitialBox {
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    border-radius: 0px 0px 30px 0px;
    height: 100px !important;
    width: 100px !important;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* @media only screen and (min-width: 1280px) {
    .navBarInitialBox {
        height: 10%;
        width: 8%;
    }

    .sideBarStrip {
        height: 10%;
        width: 8%;
    }
} */

.sideBarStrip {
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
    height: 100%;
    width: 100px;
    padding-top: 10%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.sideBarStripItem {
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s;
}

@media only screen and (min-width: 1920px) {
    .navBarInitialBox {
        height: 10%;
        width: 7%;
    }

    .sideBarStrip {
        height: 100%;
        width: 7%;
    }
}

.invertedBox,
.stripInvertedBox {
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    box-shadow: inset 1px 0px 4px rgba(27, 43, 65, 0.1);
    border-radius: 10px;
    transform: rotate(45deg);
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripInvertedBox {
    margin-top: 30px;
}

.navbarText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #C94B32;
    transform: rotate(-45deg);
}

.stripInvertedBoxOutline {
    background: #C94B32;
    border-radius: 10px;
    transform: rotate(45deg);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

#transactionSuccessPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
    padding: 93px 23px;
    height: 100%;
}

#transactionSendPage {
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    overflow-y: auto;
    gap: 35px;
}

#transactionSendDivider1,
#transactionSendDivider2 {
    width: 210px;
    height: 0px;
    border: 2px solid #C94B32;
    background-color: #C94B32;
    border-radius: 50px;
    align-self: center;
}

#recipientList {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-left: 5%;
}

#transactionSendButton {
    align-self: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.7px);
}

#doubleEuroImage {
    align-self: center;
}

#createADAOText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    line-height: 18px;
    opacity: 0.9;
}

#AddNewMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 20px;
    max-height: fit-content;
    width: fit-content;
    padding: 26px 22px 30px 22px;
    gap: 25px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 999;
}

#AddNewMemberComponent,
#AddNewMemberOverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
}

#AddNewMemberOverlay {
    background: #1B2B41;
    opacity: 0.2;
}

#addMemberButtonArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#AddNewRecipientComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
    border-radius: 20px;
    max-height: fit-content;
    width: 449px;
    padding: 26px 22px 30px 22px;
    gap: 25px;
    position: absolute;
    top: 45%;
}

.SelectNewRecipientPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-height: fit-content;
    width: 100%;
    overflow-y: auto;
    gap: 35px;

}

#voteArea {
    min-width: 10%;
}

#voteArea .vote-view {
    width: 120px;
    color: #76808D;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 5px;
}

#voteArea .vote-view.reject {
    border-radius: 50px 0px 0px 50px;
}

#voteArea .vote-view.accept {
    border-left: 1px solid rgba(27, 43, 65, 0.2);
}

#transactionDetailsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 35px;
}

#footerImage {
    height: 32px;
    width: 235px;
    margin-right: 5%;
}

/* .appLogoArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 90%;
    margin-top: 35px;
    margin-bottom: 35px;
} */
.appLogoArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}

#memberAddressText {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #76808D;
    min-width: 20%;
}

#recipientListandButtons {
    min-height: fit-content;
    max-height: 60%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
    align-items: center;
}

.multiSendDivider {
    /* border-bottom: 1px solid #76808D;
    border-right: 1px solid #76808D; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    position: relative;
}

.multiSendDivider .test {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #76808D;
}

.multiSendDivider .test::before {
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 1px;
    height: 25px;
    background-color: #76808D;
}

/* Dynamic --- last row multisend will not have line */

.multiSendDivider .line {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 1px;
    height: 25px;
    background-color: #76808D;
}



.ErrorText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ed641a;
}

.membersModal {
    width: 768px;
    height: 768px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 65px 0 65px;
    z-index: 999;
}

.membersModal .membersModal-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.membersModal .membersModal-header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #C94B32;
    margin-top: 20px;
}

.membersModal .membersModal-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 100px;
}

.membersModal .membersModal-body .membersModal-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.membersModal .membersModal-body .membersModal-row .row-overcast {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 998;
}

.membersModal .membersModal-body .membersModal-row div {
    display: flex;
    align-items: center;
}

.membersModal .membersModal-body .membersModal-row div img {
    margin-right: 10px;
}

.membersModal .membersModal-body .membersModal-row div p {
    width: 135px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #76808D;
}

.membersModal .membersModal-body .membersModal-row span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #76808D;
    margin: 0 20px;
}

.membersModal .membersModal-body .membersModal-row button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FBF4F2 0%, #EEF1F5 100%);
    border-radius: 3px;
    z-index: 999;
}

.membersModal .membersModal-body .membersModal-row button.selected {
    background: #B12F15;
}


.membersModal .membersModal-footer {
    width: 768px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.membersModal .membersModal-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
}

.membersModal .membersModal-footer .cancel-btn {
    background: #FFFFFF;
    border: 1px solid #C94B32;
    color: #C94B32;
    width: 130px;
    margin-right: 20px;
}

.membersModal .membersModal-footer .confirm-btn {
    background: #C94B32;
    color: #FFF;
    width: 210px;
}